doctype html
head
    title Parser
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
.container
    br
    form(method='post' action='/config')
        div.form-group
            label(for='cities') Cities:
            input#cities.form-control(type='text', placeholder='cities' name='cities' value=cities)
        div.form-group
            label(for='airport') Airport:
            input#airport.form-control(type='text', name='airport' value=airport)
        div.form-group
            label(for='slotArxSeason') Slot archive season:
            input#slotArxSeason.form-control(type='text', name='slotArxSeason' value=slotArxSeason)
        div.form-group
            label(for='slotRdsSeason') Slot RDS season:
            input#slotRdsSeason.form-control(type='text' name='slotRdsSeason' value=slotRdsSeason)
        div.form-group
            label(for='slotSeason') Slots season:
            input#slotSeason.form-control(type='text' name='slotSeason' value=slotSeason)
        div.form-group
            label(for='username') Username:
            input#username.form-control(type='text' name='username' value=username)
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='text' name='password' value=password)
        button.btn.btn-primary(type='submit' name='save' value='save') SAVE
        button.btn.btn-primary(type='submit' name='start' value='start') START
        //.btn-group(role='group', aria-label='Basic example')
